-Pconsume-incrementals
-Pmight-produce-incrementals
-Dchangelist.format=%d.v%s
-Dmaven.test.skip=true
-Dmaven.javadoc.skip=true
-Dspotbugs.skip=true
-Dcheckstyle.skip=true
-Dlicense.skip=true
-Daccess-modifier-checker.skip=true
-Dmaven.compiler.fork=false
-Dmaven.compiler.source=17
-Dmaven.compiler.target=17
-Dmaven.compiler.release=17
-Dgroovy.source.level=17
-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
-Dlicense.disableCheck=true
-Dspotless.check.skip=true
-Dpmd.skip=true
-Dmaven.license.skip=true
